$bkg-color: #d8fccc;

.page-contact{
    background-color: $bkg-color;
    #contact{
        font: {
            family: Calibri;
            size: 12px;
        }
    }
    #input[type="text"]{
        padding: 4px;
        height: 25px;
        width: 250px;
    }
}

.button_1{
    height: 5%;
    border:12px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    font-size: 16px;
    position: absolute;
    left: 10px;
}

textarea[type=text]{
    text-align:left;
    width: 50%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin:8px;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
}

// blue border backlight
textarea[type=text]:focus{ 
    border-color:dodgerBlue;
    box-shadow:0 0 15px 0 dodgerBlue;
}

h3 {
    color: limegreen;
}
#sidebar2{
    float:right;
    width: 20%;
    margin-top:10px;
    margin-right:260px;
  }
