$bkg-color: #d8fccc;

.page-contact{
    background-color: $bkg-color;
    #contact{
        font: {
            family: Calibri;
            size: 12px;
        }
    }
    #input[type="text"]{
        padding: 4px;
        height: 25px;
        width: 250px;
    }
}

