<ion-header>
  <ion-navbar>
    <ion-title>Shop</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-badge *ngIf="itemsInCart.length">{{itemsInCart.length}}</ion-badge>
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="page-shop">

  <ion-card id="card" *ngFor="let item of items">

    <ion-item>
      <ion-avatar item-start>
        <img src="{{item.vendorImage}}">
      </ion-avatar>
      <h2>{{item.title}}</h2>
      <p> by {{item.vendor}} </p>
    </ion-item>

    <img id="prod-img" src="{{item.image}}">

    <ion-card-content>
      <p>Price: ${{item.price}}</p>
    </ion-card-content>

    <div class="cart-buttons">
      <button *ngIf="item.quantityInCart" [@addButton]="item.addButtonState" (@addButton.done)="addToCartFinished(item)"
              color="light" ion-button small>
        {{item.quantityInCart}}
      </button>
      <button *ngIf="item.quantityInCart" [@delButton]="item.delButtonState"
              (@delButton.done)="delFromCartFinished(item)" color="light" ion-button small>
        {{item.quantityInCart}}
      </button>
      <button (click)="addToCart(item)" ion-button icon-left small>
        <ion-icon name="add"></ion-icon>
        Add to Cart
      </button>
      <button (click)="delFromCart(item)" ion-button icon-left small>
        <ion-icon name="del"></ion-icon>
        Remove from Cart
      </button>
    </div>

  </ion-card>

</ion-content>
