<div *ngIf="auth.user | async; then authenticated else guest">
        <!-- template will replace this div -->
</div>

<ng-template #guest>
  <ion-nav-bar class="bar-positive">
      <ion-nav-buttons side="left">
        <button class="button button-icon ion-navicon"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon ion-search"></button>
        <button class="button button-icon ion-ios-email"></button>
        <button class="button button-icon ion-ios-person"></button>
      </ion-nav-buttons>
         <h1 class="title"> Main Nav bar</h1>
      </ion-nav-bar>
     <ion-header-bar class="bar-balanced bar-subheader">
        <button class="button button-icon icon ion-chevron-left"></button>
       <h2 class="title">Sub Header</h2>
       
     </ion-header-bar>
  <!--<ion-content>
    <ion-tabs tabsPlacement="top">
      <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
      <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
      <ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>
      <ion-tab [root]="tab4Root" tabTitle="Vendors" tabIcon="ios-basket"></ion-tab>
      <ion-tab [root]="tab5Root" tabTitle="Tips" tabIcon="ios-bulb"></ion-tab>
    </ion-tabs>
  </ion-content>-->
  <ion-footer class="footer">
    <p text-center>Copyright ASK-JZ 2018. All rights Reserved.</p>
  </ion-footer>
</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
  <ion-header class="head">
    <ion-navbar primary>
      <ion-title>
        <a href="/"><img alt="logo" height="40" src="/assets/imgs/GreenMarket.png"></a>ASK-JZ's Green App
      </ion-title>
        <!--<ion-list-header *ngIf="auth.getEmail()">{{auth.getEmail()}}</ion-list-header>-->
        <ion-buttons right>
          <button ion-button (click)="gotoHomePage()" item-right>
            <span ion-text>HOME</span>
          </button>
          <button ion-button (click)="logout()" item-right>
            <span ion-text>Log out</span>
          </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
</ng-template>

<ion-nav [root]="rootPage" #nav swipeBackEnabled="false"></ion-nav>



    