<ion-header>
  <ion-navbar>
    <ion-title>Account</ion-title>
  </ion-navbar>
</ion-header>

<div *ngIf="authService.user | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>

<!-- User NOT logged in -->
<ng-template #guest>
  <ion-content padding class="page-account">
    <h3>Hello, please log in to access your account!</h3>
    <ion-buttons>
      <button ion-button color="secondary" round (click)="gotoLoginPage()">
        <ion-icon name="log-in"> LOG IN</ion-icon>
      </button>
    </ion-buttons>
  </ion-content>
</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
  <ion-content padding class="page-account">
    <div *ngIf="authService.user | async as user">
      <br>
      <br>
      <br>
      <br>
      <img [src]="user.photo_url" class="avatar">
      <h1>Welcome back {{ user.email }}!</h1>
      <h3>Howdy, {{ user.display_name }}</h3>
      <h3>You registered on {{user.registration_date | date:'yyyy-MM-dd'}}</h3>
      <button ion-button (click)="logout()">
        <ion-icon name="log-out"> LOGOUT</ion-icon>
      </button>
    </div>
  </ion-content>
</ng-template>
